extends layout

block content
  include OWEP
  div#dMenu
    //div#dMenuUnder
    div#dMenuSub
      img#imgLogoMenu.fade(src="/images/logo.png")
      div.dMenuSelect(onclick="allerSection('sMain')" onmouseover="mOver(this)" onmouseout="mOut(this)")
        span.fade Accueil
        span#spanAccueil.sNormal &#x25C7;
      div.dMenuSelect(onclick="allerSection('sResume')" onmouseover="mOver(this)" onmouseout="mOut(this)")
        span.fade R&eacute;sum&eacute;
        span#spanResume.sNormal &#x25C7;
      div.dMenuSelect(onclick="allerSection('sServices')" onmouseover="mOver(this)" onmouseout="mOut(this)")
        span.fade Services offerts
        span#spanServices.sNormal &#x25C7;
      div.dMenuSelect(onclick="allerSection('sTarifs')" onmouseover="mOver(this)" onmouseout="mOut(this)")
        span.fade Tarifs, combos et support bureautique
        span#spanTarifs.sNormal &#x25C7;
      div.dMenuSelect(onclick="allerSection('sTrucs')" onmouseover="mOver(this)" onmouseout="mOut(this)")
        span.fade Chroniques OWEP
        span#spanTrucs.sNormal &#x25C7;
      div.dMenuSelect(onclick="allerSection('sAPropos')" onmouseover="mOver(this)" onmouseout="mOut(this)")
        span.fade &Agrave; propos
        span#spanAPropos.sNormal &#x25C7;
      //div.dMenuSelect(onclick="allerSection('sContact')" onmouseover="mOver(this)" onmouseout="mOut(this)")
        span.fade Contactez-nous
        span#spanContact.sNormal &#x25C7;
      div.dMenuSelect(onclick="allerSection('sPolitiques')" onmouseover="mOver(this)" onmouseout="mOut(this)")
        span.fade Politiques
        span#spanPolitiques.sNormal &#x25C7;
  section#sMain(class="sectionClass")
    div(class="divFiltre2")
      div#divlogo
        img#iLogo(src="/images/logo.png")
        div#divContactLogo
          span.spanContactLogo Evelyn Harvey
          span.spanContactLogo France Barab&eacute;
          span.spanPositionLogo Sp&eacute;cialistes en solutions informatiques adapt&eacute;es / Formatrices
          br
          span.spanPositionLogo Contactez-nous :
          span.spanPositionLogo (438) 388-5592
          a.aLogo(href="mailto:eureka.solutionsti@gmail.com" target="blank") eureka.solutionsti@gmail.com

    //img#iFond(src="/images/takxap853ry-alejandro-escamilla.jpg")
  section#sResume(class="sectionClass")
    div(class="divDesc")
      h2(class="h2D") R&eacute;sum&eacute;
      span Notre entreprise d&eacute;sire apporter des solutions simples et efficaces au moyen de formation aux
        |employ&eacute;s d&eacute;sireux d'am&eacute;liorer leurs connaissances au niveau de leurs outils de travail,
        |notamment la Suite Office.
      h2(class="h2N") Client&egrave;le vis&eacute;e
      span Nos services s'adressent aux petites entreprises de parcs industriels, aux boutiques d'avocats
        |et autres petits bureaux d'avocats ou de notaires.
  section#sServices(class="sectionClass")
    div(class="divFiltre")
      div(class="divDesc")
        h2(class="h2D") Services offerts
        ul
          li Formation sur &laquo; mesure &raquo; en vue de la r&eacute;solution de probl&eacute;matique pr&eacute;cise
          li Formation de groupe ou individuelle
          li Formation sur l'utilisation efficace des outils de travail
          li Formation sur les nouvelles technologies : nuages (Exemples : Dropbox, OneDrive, etc), r&eacute;seaux sociaux, t&eacute;l&eacute;phones intelligents, tablettes, etc.
          li Mise en forme de formulaires pour faciliter les t&acirc;ches quotidiennes
          li Service de support bureautique et montage de documents types
  section#sTarifs(class="sectionClass")
    div#divTarif
      div.divSousTarif
        div#forfaitsEntete.divEntete
          h2.h2TarifClick Tarifs
        div#forfaits
          a.aForfaits(href="mailto:eureka.solutionsti@gmail.com?Subject=Mise en forme et montages de documents" target="blank")
            div(class="divPlans")
              table.tableTarif
                tr.trTarif
                  td.tdTarifH
                    h3 Mise en forme et montages de documents
                tr.trTarif
                  td.tdTarif
                    span 1 heure de mise en forme de documents mod&egrave;les ou de montage de documents types
                    br
                    label.labelLienGlossaire(data-tooltip="<b>Tarif &agrave; l'heure</b><br>" +
                    "Le tarif est d&eacute;termin&eacute; selon un taux horaire de $50.00 / heure. Il est possible que nous demandions &agrave; voir votre document afin d'en&nbsp;" +
                    "&eacute;valuer la longueur et la complexit&eacute;. Au besoin, des ententes forfaitaires pourront &ecirc;tre conclues. L'&eacute;valuation du travail est gratuite." +
                    "<br><br><b>Tarif de soir&eacute;e et de fin de semaine</b><br>" +
                    "Il nous est possible de r&eacute;pondre &agrave; des demandes urgentes de soir ou de fin de semaine sur r&eacute;servation uniquement. Un taux horaire&nbsp;" +
                    "de $75.00 / heure sera alors appliqu&eacute;. Une demande de soir ou de fin de semaine peut correspondre aux demandes suivantes :" +
                    "<ul>" +
                    "<li>un document livr&eacute; en soir&eacute;e exig&eacute; pour le lendemain matin</li>" +
                    "<li>un document livr&eacute; le vendredi en fin d'apr&egrave;s-midi pour le lundi matin.</li>" +
                    "</ul>" +
                    "<br><b>Tarif minimal</b><br>" +
                    "Un tarif minimal de 20,00 $ sera charg&eacute; pour les tr&egrave;s courts documents (moins d'une page)" +
                    "<br>D&eacute;finition d'une page - Une page &eacute;quivaut &agrave; une page de traitement de texte, police de caract&egrave;res 12 points" +
                    "(Times New Roman et interligne simple)") Conditions
                tr.trTarif
                  td.tdTarifP
                    span
                      span.spanP $ 50
                      span.spanHS de l'heure
          a.aForfaits(href="mailto:eureka.solutionsti@gmail.com?Subject=Formation" target="blank")
            div(class="divPlans")
              table.tableTarif
                tr.trTarif
                  td.tdTarifH
                    h3 Formation
                tr.trTarif
                  td.tdTarif
                    span 3 heures de formation en entreprise (1/2 journ&eacute;e)
                    br
                    label.labelLienGlossaire(data-tooltip="Si le d&eacute;placement s'effectue dans un rayon de 30 km, aucun frais de d&eacute;placement ne sera imput&eacute;. Les frais de stationnement seront cependant factur&eacute;s. Si le d&eacute;placement s'effectue de plus de 30 km, des frais de 0,54$ / km exc&eacute;dentaires seront imput&eacute;s &agrave; la facture. Maximum de 6 participants par s&eacute;ance.") Conditions
                tr.trTarif
                  td.tdTarifP
                    span
                      span.spanP $ 350,00
      div.divSousTarif
        div#forfaitsEntete.divEntete
          h2.h2TarifClick Combos
        div#forfaits
          a.aForfaits(href="mailto:eureka.solutionsti@gmail.com?Subject=Combo%201" target="blank")
            div(class="divPlans")
              table.tableTarif
                tr.trTarif
                  td.tdTarifH
                    h3 Combo 1
                tr.trTarif
                  td.tdTarif
                    ul
                      li
                        span 3 heures de formation
                        br
                        span (1/2 journ&eacute;e)
                      li 1 heure de support bureautique
                      li 1 heure de mise en forme de documents mod&egrave;les ou de montage de documents types
                tr.trTarif
                  td.tdTarifP
                    span
                      span.spanP $ 400,00
          a.aForfaits(href="mailto:eureka.solutionsti@gmail.com?Subject=Combo%202" target="blank")
            div(class="divPlans")
              table.tableTarif
                tr.trTarif
                  td.tdTarifH
                    h3 Combo 2
                tr.trTarif
                  td.tdTarif
                    ul
                      li
                        span 6 heures de formation
                        br
                        span (1 journ&eacute;e)
                      li 3 heures de support bureautique
                      li 3 heures de mise en forme de documents mod&egrave;les ou de montage de documents types
                tr.trTarif
                  td.tdTarifP
                    span
                      span.spanP $ 900,00
      div.divSousTarif
        div#forfaitsEntete.divEntete
          h2.h2TarifClick Support bureautique
        div#forfaits
          a.aForfaits(href="mailto:eureka.solutionsti@gmail.com?Subject=Support bureautique forfait 1" target="blank")
            div(class="divPlans")
              table.tableTarif
                tr.trTarif
                  td.tdTarifH
                    h3 Forfait 1
                tr.trTarif
                  td.tdTarif
                    span 200 minutes
                    br
                    span Valide pour 12 mois
                    br
                    span Charge minimale de 15 minutes par appel
                tr.trTarif
                  td.tdTarifP
                    span
                      span.spanP $ 375,00
                      span.spanHS par ann&eacute;e
          a.aForfaits(href="mailto:eureka.solutionsti@gmail.com?Subject=Support bureautique forfait 2" target="blank")
            div(class="divPlans")
              table.tableTarif
                tr.trTarif
                  td.tdTarifH
                    h3 Forfait 2
                tr.trTarif
                  td.tdTarif
                    span 300 minutes
                    br
                    span Valide pour 12 mois
                    br
                    span Charge minimale de 15 minutes par appel
                tr.trTarif
                  td.tdTarifP
                    span
                      span.spanP $ 575,00
                      span.spanHS par ann&eacute;e
          a.aForfaits(href="mailto:eureka.solutionsti@gmail.com?Subject=Support bureautique forfait 3" target="blank")
            div(class="divPlans")
              table.tableTarif
                tr.trTarif
                  td.tdTarifH
                    h3 Forfait 3
                tr.trTarif
                  td.tdTarif
                    span 600 minutes
                    br
                    span Valide pour 12 mois
                    br
                    span Charge minimale de 15 minutes par appel
                tr.trTarif
                  td.tdTarifP
                    span
                      span.spanP $ 1050,00
                      span.spanHS par ann&eacute;e
  section#sTrucs(class="sectionClass")
    div(class="divDesc")
      h2.h2TarifClick Chroniques OWEP
      button.bPlus(onclick="afficheOWEP()") +
      div#slideshowChro
        div.slide vide
        div.slide vide
        div.slide vide
        div.slide vide
        a.prev &#10094;
        a.next &#10095;
      br
      div(style="text-align:center")
        span.dot(data-value="1")
        span.dot(data-value="2")
        span.dot(data-value="3")
        span.dot(data-value="4")

  section#sAPropos(class="sectionClass")
    div.divAPropos
      h2 &Agrave; propos de nous
      div.divAProposIndividu
        h3 France
        span Travailleur autonome durant plus de 15 ans dans le domaine du traitement de texte et de la traduction. Formateur en petite et moyenne entreprise pour la mise &agrave; niveau des connaissances informatiques des employ&eacute;s. Sp&eacute;cialiste des applications de la suite Office.
      div.divAProposIndividu
        h3 Evelyn
        span Charg&eacute;e de projet, implantation...
      div.divAProposPlus
        span Nous pouvons faire l'&eacute;valuation de vos besoins et sommes aussi comp&eacute;tentes dans la t&eacute;l&eacute;phonie cellulaire, les outils de communication et d'&eacute;change tels Skype, Linkedin, Dropbox, Google.
        br
        br
        span Nous avons une &eacute;quipe de sp&eacute;cialistes (traducteurs, techniciens informatiques et programmeurs) pour vous &eacute;pauler quel que soit votre projet.
  //section#sContact(class="sectionClass")
  section#sPolitiques(class="sectionClass")
    div#divFoot
      h2 Politiques et termes de paiement
      div(class="divFootSub")
        h3 Politique de confidentialit&eacute;
        span Eur&ecirc;ka Solutions TI reconna&icirc;t le caract&egrave;re confidentiel de toute l'information contenue dans les documents et s'engage &agrave; conserver la nature confidentielle des informations et &agrave; ne pas en divulguer ou partager le contenu.
        h3 Politique d'insatisfaction
        span Dans le cas d'insatisfaction concernant la mise en page des documents, Eur&ecirc;ka Solutions TI s'engage &agrave; effectuer les modifications moyennant des frais suppl&eacute;mentaires.
      div(class="divFootSub")
        h3 Responsabilit&eacute;
        span Eur&ecirc;ka Solutions TI d&eacute;cline toute responsabilit&eacute; quant aux modifications &eacute;ventuelles, fautives ou non, que le client apporterait au texte apr&egrave;s sa remise.
        h3 D&eacute;lai de paiement
        span Terme net de 30 jours ou 2 % de frais d'int&eacute;r&ecirc;t par mois (24 % par an) pour tous les comptes en souffrance. Le paiement peut &ecirc;tre effectu&eacute; par ch&egrave;que au nom d'Eur&ecirc;ka Solutions TI.
