doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="UTF-8")
    script(src='https://code.jquery.com/jquery-3.1.1.js')
    script(src='/javascripts/affiche.js')
    script(src='/javascripts/alecran.js')
    script(src='/javascripts/chroniques.js')
    script(src='/javascripts/recherche.js')
  body
    block content
