body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #404040;
  z-index: 1;
}

#sMain{
  width: 100%;
  height: 950px;
  background-image: url("../images/takxap853ry-alejandro-escamilla.jpg");
  background-position: 0 -150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#sServices{
  background-image: url("../images/hpjsku2uysu-carlos-muza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#sPolitiques{
  background-color: #e5e5e5;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#sTrucs{
  background-color: #eeeeee;
}

.sSousSujet{
  color: #0070c0;
  font-weight: bold;
}

.labelLienGlossaire {
  /*color: #FF6666;*/
  font-weight: bold;
  text-decoration: underline;
  cursor: help;
}

#dGetTooltip{
  padding: 5px;
  position: absolute;
  width:500px;
  /*height:250px;*/
  color: #0070c0;
  border-style: solid;
  border-width: 1px;
  border-color: #008ce0;
  z-index:101;
  background: white;
  font-size: 80%;
  display: none;
}


.sTitre{
  font-weight: bold;
}

#dOWEP{
  display: none;
  position: fixed;
  top: 50px;
  left: 400px;
  width: 950px;
  height: 800px;
  background-color: #eeeeee;
  z-index: 5;
  border-radius: 15px;
}

#dOWEPSub{
  position: relative;
  top: 5px;
  left: 5px;
  width: 750px;
  height: 785px;
  overflow-y: scroll;
  display: inline-block;
  /*border: solid;*/
  vertical-align: top;
}

.dOWEPSec{
  padding: 10px;
}

.dOWEPSecEntete{
  margin: 5px 5px 0 5px;
  border: solid;
  border-width: 1px 1px 0 1px;
  background-color: #e5e5e5;
  padding: 5px;
  cursor: pointer;
}

.dOWEPSecEntete h2{
  display: inline-block;
}

.dOWEPSecEntetePlus{
  cursor: pointer;
  text-align: center;
  color: #0070c0;
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  float: right;
  display: inline-block;
  padding-right: 2px;
  vertical-align: middle;
  line-height: 70%;
}

.dOWEPSecCorps{
  margin: 0 5px 5px 5px;
  height: 0;
  overflow: hidden;
  border: solid;
  border-width: 0 1px 1px 1px;
}

.dChroniquesCorps{
  margin: 5px;
}

.dOWEPSecEnteteAlt{
  margin: 5px 5px 0 5px;
  border: solid;
  border-width: 1px 1px 0 1px;
  background-color: #008ce0;
  padding: 5px;
}

#dOnglets{
  position: relative;
  top: 5px;
  width: 185px;
  height: 775px;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

.dOngletsSub{
  border: solid #d49a00;
  border-width: 0 0 1px 1px;
  margin-bottom: 7px;
  padding: 5px;
}

#dOnglets div h3{
  color: #d49a00;
  margin: 0;
  padding-left: 5px;
}

.dOngletsSub:first-child{
  margin-top: 2px;
}

.dOngletsSub:last-child{
  margin-bottom: 0;
}

#dFond{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  z-index: 4;
}

.sectionClass{
  text-align: center;
}

.divFiltre{
  background: rgba(0, 0, 0, 0.6);
}

ul{
  margin: 0;
}

.h2N{
  margin: 20px 0 10px;
}

.h2D{
  margin: 0 0 10px;
}

h1,h2{
  margin: 0;
  color: #0070c0;
}

.divFiltre h2{
  color: #d49a00;
}

.divFiltre span{
  color: white;
}

.divFiltre ul{
  color: white;
}

#iFond{
  left: 0;
  top: 0;
  width: 100%;
}

#divlogo{
  position: absolute;
  top: 20px;
  left: 250px;
  margin: auto;
  z-index: 1;
}

#divContactLogo{
  text-align: left;
  padding: 10px;
}

.spanContactLogo{
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #008ce0;
  text-shadow: 2px 2px 8px #000000;
  font-weight: bold;
  display: block;
}

.spanPositionLogo{
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  display: block;
  /*color: #008ce0;*/
  /*text-shadow: 2px 2px 8px #008ce0;*/
}

#iLogo{
  width: 550px;
}

.divDesc{
  padding: 20px;
  text-align: left;
  width: 500px;
  margin: auto;
}

#divFoot{
  width: 820px;
  padding: 20px 0;
  text-align: left;
  margin: auto;
}

.divFootSub{
  padding: 0 5px;
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

#divFoot h2{
  padding-left: 5px;
}

#divTarif{
  width: 60%;
  margin: 10px auto;
  text-align: center;
}

.divPlans{
  display: inline-block;
  margin: 10px;
}

.divPlans h2{
  color: inherit;
}

.tableTarif{
  border-collapse: collapse;
  cursor: pointer;
}

.trTarif{

}

.tableTarif td{
  width: 200px;
  padding: 10px;
  border: 2px solid rgb(211, 215, 217);
}

.tableTarif:hover .spanP{
  transition: 1s;
  color: #d49a00;
}

.tableTarif:hover{
  transition: 1s;
  background-color: #0070c0;
  color: #e5e5e5;
}

.tdTarifH{
  height: 75px;
}

.tdTarif{
  height: 200px;

}

.tdTarifP{
  height: 100px;
}

.divPlans h3{
  margin: 0;
}

.divHide{
  display: none;
}

.divEntete{

}

.h2TarifClick{
  display: inline-block;
  margin-right: 10px;
}

/* Slideshow */

#slideshowChro{
  max-width: 1000px;
  position: relative;
  margin: 10px auto;
  padding: 10px 0;
  background-color: #0070c0;
  z-index: 2;
}

.slide{
  max-width: 85%;
  margin: auto;
  z-index: 3;
  color: white;
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}*/

/* Fin Slideshow */

.bPlus{
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  color: #e5e5e5;
  background-color: #0070c0;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 6px;
  width: 30px;
  height: 30px;
}

.spanHS{
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 0.75;
}

.spanH{

}

.spanP{
  display: block;
  color: #0070c0;
  font: bold 28px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 0.75;
}

button:focus {outline:0;}

#dMenu{
  position: fixed;
  text-align: right;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
}

#dMenuUnder{
  position: fixed;
  right: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

#dMenuSub{
  position: fixed;
  right: 50px;
  top: 33%;
  color: #d49a00;
  font: bold 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.dMenuSelect{
  cursor: pointer;
}

#imgLogoMenu{
  width: 200px;
}

.sNormal{
  margin-left: 5px;
}

.fade{
  opacity: 0;
  width: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

#dMenu:hover .fade{
  opacity: 1;
}

#dMenu:hover #dMenuUnder{
  width: 350px;
}